<%# <h1>Editing staticpage</h1>

 render "form", staticpage: @staticpage %>
<%# 
<br>

<div>
   link_to "Show this staticpage", @staticpage %> |
   <%# link_to "Back to staticpages", staticpages_path
</div>  %>
